@use "mixins";
@use "variables" as v;
.homeContainer{
width: 100%;
height: 100%;
display: flex;
justify-content: center;



}

.homeContent{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .loadingImg{
min-height: 4rem;
opacity: 40%;


    }
    }