@use "variables" as v;

.navba, nav{
    width: 100%;
    max-width: v.$max-width-app !important;
    background-color:  v.$primary-bg !important;
}

.dropdown-menu-end {
  box-sizing: 0 0 5px  v.$shadow !important;
    border: 1px solid v.$shadow !important;
    margin-top: 0.65rem !important;
    background-color:  v.$primary-bg !important;

}
#cartDropdown{
    background-color:  v.$primary-bg !important;
border: none;
}

.dropdown-item {
    span{
        margin-right: 0.7rem;
    }
    p {
        padding: 0.3rem 0 0 0.5rem  ;
        margin: 0;
    }

    &:hover {
        cursor: default;
        background-color: transparent !important;
    }
}

.checkout {
    &:hover {
        cursor: pointer;
    }

}

.navText {
    color: v.$primary-color !important;
}

.binIcon {
    color: v.$primary-color !important;
    &:hover {
        color: v.$secondary-color !important;
    }
}