$primary-bg: rgb(255, 255, 255);
$primary-color: rgb(22, 75, 101);
$secondary-color:rgb(0, 171, 176);
$shadow: rgba(147, 154, 162, 0.644);
$max-width-app:2000px;


/* card */
$primary-card-color: rgb(255, 255, 255);
$card-shadow: rgb(192, 197, 202);
$card-dark-text-color: rgb(38, 47, 56);